<div class="mobile-footer">
    <div class="footer-icon" routerLink="/shop/dashboard">
        <div>
            <i class="far fa-list-alt"></i>
        </div>
        <div>
            <span>Dashboard</span>
        </div>
    </div>
    <div class="footer-icon" routerLink="/shop/create-order">
        <div>
            <i class="far fa-edit"></i>
        </div>
        <div>
            <span>Create Order</span>
        </div>
    </div>
    <div class="footer-icon" routerLink="/catalog">
        <div>
            <i class="far fa-plus-square"></i>
        </div>
        <div>
            <span>Add Product</span>
        </div>
    </div>
    <div class="footer-icon" routerLink="/shop/my-store/compare">
        <div>
            <i class="far fa-clone"></i>
        </div>
        <div>
            <span>Compare</span>
        </div>
    </div>
    <div class="footer-icon d-none"  (click)="logout()">
        <div>
            <i class="far fa-share-square"></i>
        </div>
        <div>
            <span>Logout</span>
        </div>
    </div>
</div>