<div class="dash_section">
	<div class="subdash pt-4">
		<div class="container">

			<div class="row pb-4">
				<div class="col-lg-8 col-12 mx-auto">
					<div class="cart_detail mt-4 mt-lg-5">
						<h4 class="details_txt text-left" style="font-size:">Checkout</h4>
						<p class="id_txt pt-3 mb-0">Payment of <i class="fa fa-rupee-sign"></i> 1570</p>
						<div class="row mt-4">
						<div class="col-lg-6 col-12 mt-2">
							<div class="form-group mt-1">
											<label class="checkout_entry">Name :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="form-group mt-1">
											<label class="checkout_entry">Mobile No. :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="form-group mt-1">
											<label class="checkout_entry">Email Id :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="mt-3 pt-3 ">
											<select name="cars" id="" class="btn">
												<option value="" class="filter_txt disable">Payment Methods</option>
												<option value="" class="filter_txt">Cash on Delivery</option>
												<option value="" class="filter_txt">UPI</option>
												<option value="" class="filter_txt">Internet Banking</option>
											</select>
									</div>
							
							
						</div>
						<div class="col-lg-6 col-12 mt-2">
							<div class="form-group mt-1">
											<label class="checkout_entry">Address :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="form-group mt-1">
											<label class="checkout_entry">City :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="form-group mt-1">
											<label class="checkout_entry">Pincode :</label>
											<div class="input">
												<input value="" class="input_txt">
											</div>
									</div>
									<div class="mt-3 pt-3 text-center">
										<a href="#" class="btn sign_btn btns"> Place Order</a>
									</div>
							
							
						</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>