<div class="dash_section">
	<div class="subdash pt-4">
		<div class="container">
			<app-shop-header></app-shop-header>
			<div class="row mt-4">
				<div class="col-lg-11 col-12 mx-auto">
					<div class="d-flex justify-content-between">
						<h4 class="categories_heading_txt text-center">Orders</h4>
							<select name="cars" id="" class="btn filter_btn">
								<option value="" class="filter_txt">Filter</option>
								<option value="" class="filter_txt">Pending</option>
								<option value="" class="filter_txt">Declined</option>
								<option value="" class="filter_txt">Accepted</option>
								<option value="" class="filter_txt">Shipped</option>
								<option value="" class="filter_txt">Cancelled</option>
								<option value="" class="filter_txt">Delivered</option>
							</select>
					</div>	
				</div>
			</div>	
			<div class="row mt-4 pb-3">
				<div class="col-lg-6 col-12">
					<div class="order_card">
						<div class="d-flex justify-content-between">
							<p class="id_txt">Order #271001 </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i> 712</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="id_txt">2 Item </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i>Today 12:57 PM</p>
						</div><hr class="mt-0">
						<div class="d-flex justify-content-between">
							<div>
								<span class="active d-inline-block"></span>
								<p class="id_txt d-inline-block">Accepted</p>
							</div>	
							<a href="#" class="btn id_txt detail_btn"> Details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12 mt-3 mt-lg-0">
					<div class="order_card">
						<div class="d-flex justify-content-between">
							<p class="id_txt">Order #271001 </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i> 712</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="id_txt">2 Item </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i>Today 12:57 PM</p>
						</div><hr class="mt-0">
						<div class="d-flex justify-content-between">
							<div>
								<span class="active d-inline-block"></span>
								<p class="id_txt d-inline-block">Accepted</p>
							</div>	
							<a href="#" class="btn id_txt detail_btn"> Details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12 mt-3 mt-lg-4">
					<div class="order_card">
						<div class="d-flex justify-content-between">
							<p class="id_txt">Order #271001 </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i> 712</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="id_txt">2 Item </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i>Today 12:57 PM</p>
						</div><hr class="mt-0">
						<div class="d-flex justify-content-between">
							<div>
								<span class="active d-inline-block"></span>
								<p class="id_txt d-inline-block">Accepted</p>
							</div>	
							<a href="#" class="btn id_txt detail_btn"> Details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12 mt-3 mt-lg-4">
					<div class="order_card">
						<div class="d-flex justify-content-between">
							<p class="id_txt">Order #271001 </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i> 712</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="id_txt">2 Item </p>	
							<p class="id_txt"><i class="fa fa-rupee-sign"></i>Today 12:57 PM</p>
						</div><hr class="mt-0">
						<div class="d-flex justify-content-between">
							<div>
								<span class="active d-inline-block"></span>
								<p class="id_txt d-inline-block">Accepted</p>
							</div>	
							<a href="#" class="btn id_txt detail_btn"> Details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>