<div class="main_card">
	<div class="d-flex align-items-center logotxt">
		<div class="dash_logo">
			<img alt="" class="dash_logo_img" src="/assets/img/logo.png">
		</div>
		<div class="shop_name">
			<p class="shop_txt">Shop Name</p>
		</div>
	</div>
	<div class="link_card" *ngIf="showShare">
		<h6 class="link_heading">Share link on WhatsApp</h6>
		<p class="link_content">Your Customer can visit your online store and place orders from this link.</p>
		<div class="link d-flex justify-content-between">
			<a href="#" class="link_txt">sharemystore.com/tiscom</a>
			<button class="btn btn-success mb-1 wp"><i class="fab fa-whatsapp"></i> Share</button>
		</div>
	</div>
</div>