<div [class]="(showShare)?'main_card':'main_card hide-share'">
	<div class="d-flex align-items-center logotxt">
		<div class="dash_logo">
			<img alt="" class="dash_logo_img" src="/assets/img/logo.png">
		</div>
		<div class="shop_name">
			<p class="shop_txt">{{auth.user.store.business_name}}</p>
		</div>
	</div>
	<div class="link_card">
		<h6 class="link_heading">Share link on WhatsApp</h6>
		<p class="link_content">Your Customer can visit your online store and place orders from this link.</p>
		<div class="link d-flex justify-content-between">
			<a href="#" class="link_txt">https://pmsstores.in/{{auth.user.store.slug}}</a>
			<button class="btn btn-success mb-1 wp" (click)="share()"><i class="fab fa-whatsapp"></i> Share</button>
		</div>
	</div>
</div>