
.main_card {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/bg.jpg');
		background-repeat:no-repeat;
		background-size: cover;
		background-position:center;
		height:250px;
		width:100%;
		box-shadow: 2px 3px 6px #04040599;
		border-radius: 30px;
		padding: 30px 40px 10px 40px;
}
.hide-share{
	height: 200px;
	.link_card{
		display: none;
	}
}
.dash_logo {
		background: transparent;
		padding: 3px;
		width: 140px;
		height: 140px;
		border-radius: 50%;
}
.dash_logo_img {
		width:100%;
}
.shop_txt {
		font-family:My-Demi;
		font-weight:500;
		color: #fff;
		font-size:35px;
		margin:0;
		text-shadow: 0px 0px 6px #000000d1;
}
.link_card {
		box-shadow: 4px 5px 40px rgb(0, 0, 0, 0.3);
		border-radius: 16px;
		background: #fff;
		padding: 20px;
		width: 80%;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
}
.link_heading {
		font-size: 20px;
		font-weight: 600;
}
.link_content {
		font-size: 16px;
		font-weight: 400;		
}
.link_txt {
		font-size: 16px;
		font-weight: 400;
}
.wp {
}




@media (max-width: 800px) {
	.main_card {
		height:150px;
		width:100%;
		padding: 1px 17px 0px 17px;
		margin-bottom: 130px;
	}
	.hide-share{
		margin-bottom: 30px;
	}
	.logotxt {
		margin-top: 24px;
	}
	.link_card {
		box-shadow: 4px 5px 40px rgba(0, 0, 0, 0.3);
		border-radius: 15px;
		background: #fff;
		padding: 15px;
		width: 100%;
	}
	.dash_logo {
		width: 85px;
		height: 85px;
	}
	.shop_txt {
		font-size:20px;
	}
	.link_heading {
		font-size:14px;
	}
	.link_content {
		font-size:12px;
	}
	.link_txt {
		font-size: 12px;
	}
	.wp {
		font-size:10px;
	}
		
}