<div class="dash_section">
	<div class="subdash pt-4">
		<div class="container">
			<app-company-header></app-company-header>
			<div class="text-center categories_heading mt-4 mt-lg-5">
					<h3 class="categories_heading_txt">Popular Products</h3>
				</div>
			<div class="row mt-4 mb-4">
				<div class="col-lg-4 col-12">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-0">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-0">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12  mt-4 mt-lg-4">
					<div class="products d-flex justify-content-between">
						<div>
							<div class="p_img" style="background: url('/assets/img/camera.jpg');">
								
							</div>
							<a href="#" class="btn choose-btn choose-btns align-items-center mt-3"> Choose Product</a>
						</div>
						<div class="description">
							<h4 class="p_name">Proudct Name</h4>
							<p class="p_about"><em>Price :</em> <i class="fa fa-rupee-sign"></i> 475<br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales turpis in mauris dignissim,
							ac venenatis risus dictum. Integer quis suscipit nulla, eu malesuada eros. Nunc non mollis ipsum. Fusce feugiat erat 
							</p>
						</div>
					</div>
				</div>
			</div><hr>
		</div>
	</div>
</div>