<div class="dash_section">
	<div class="subdash pt-4">
		<div class="container">
			<app-shop-header></app-shop-header>
			<div style="width:100%; overflow:auto;">
				<div class="compare">
					<table class="ui celled table mt-2">
						<tbody>
							<tr>
								<td></td>
								<td>
									<div>
										<img alt="" src="/assets/img/mobilec1.png" class="comp">
									</div>
									<div>
										<a class="btn add_btn add_btns">@Buy Now</a>
									</div>	
								</td>
								<td>
									<div>
										<img alt="" src="/assets/img/mobilec2.png" class="comp">
									</div>
									<div>
										<a class="btn add_btn add_btns">@Buy Now</a>
									</div>	
								</td>
								<td>
									<div>
										<img alt="" src="/assets/img/mobilec1.png" class="comp">
									</div>
									<div>
										<a class="btn add_btn add_btns">@Buy Now</a>
									</div>	
								</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Model Name</td>
							</tr>
							<tr>
								<td>Model Name</td>
								<td><h5>One Plus 7</h5></td>
								<td><h5>Redmi K20</h5></td>
								<td><h5>Redmi K20</h5></td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Display</td>
							</tr>
							<tr>
								<td>Display</td>
								<td>
									<div>
										<h5>6.41" (16.28 cm)</h5>
										<p>1080x2340 px, 402 PPI</p>
									</div>
								</td>
								<td>
									<div>
										<h5>6.39" (16.23 cm)</h5>
										<p>1080x2340 px, 402 PPI</p>
									</div>
								</td>
								<td>
									<div>
										<h5>6.39" (16.23 cm)</h5>
										<p>1080x2340 px, 402 PPI</p>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Performance</td>
							</tr>
							<tr>
								<td>Performance</td>
								<td>
									<div>
										<h5>Single + Tri + Quad Core</h5>
										<p>2.84 GHz + 2.42 GHz + 1.8 GHz, 6 GB RAM</p>
									</div>
								</td>
								<td>
									<div>
										<h5>Single + Tri + Quad Core</h5>
										<p>2.84 GHz + 2.42 GHz + 1.8 GHz, 6 GB RAM</p>
									</div>
								</td>
								<td>
									<div>
										<h5>Single + Tri + Quad Core</h5>
										<p>2.84 GHz + 2.42 GHz + 1.8 GHz, 6 GB RAM</p>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Storage</td>
							</tr>
							<tr>
								<td>Storage</td>
								<td>
									<div>
										<h5>128 GB</h5>
										<p>Non-Expandable</p>
									</div>
								</td>
								<td>
									<div>
										<h5>128 GB</h5>
										<p>Non-Expandable</p>
									</div>
								</td>
								<td>
									<div>
										<h5>128 GB</h5>
										<p>Non-Expandable</p>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Back Camers</td>
							</tr>
							<tr>
								<td>Back Camera</td>
								<td>48MP + 5MP</td>
								<td>48MP + 8MP + 5MP</td>
								<td>48MP + 8MP + 5MP</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Front Camera</td>
							</tr>
							<tr>
								<td>Front Camera</td>
								<td>16MP</td>
								<td>20MP</td>
								<td>20MP</td>
							</tr>
							<tr>
								<td colspan="4" class="d-md-none showm">Battery</td>
							</tr>
							<tr>
								<td>Battery</td>
								<td>3700mAh</td>
								<td>4000mAh</td>
								<td>3000mAh</td>
							</tr>
						</tbody>
					</table>
					
					
					
				</div>
			</div>
		</div>
	</div>
</div>