.sub_card {
		padding-top:95px;
		padding-bottom: 30px;
}

.card1 {
		box-shadow: 0px 4px 25px rgb(0, 0, 0, 0.3);
		border-radius:16px;
		background: #fff;
		padding: 20px;

		width: 100%;
		h2{
			font-size: 40px;
			margin-bottom: 25px;
		}
}
.card_heading {
		font-size: 14px;
		color:#777;
		font-weight: 400;
		margin-bottom: 0;
}

.sign_btn {
    background: #03b0b1 0% 0% no-repeat padding-box;
    border-radius: 28px;
    padding: 5px 50px;
}
.btns {
    letter-spacing: 0.35px;
    color: #FFFFFF;
	font-size: 20px;
	font-family: Poppins;
}

@media (max-width: 800px) {
	.card_heading {
		font-size:15px;
	}
	.btns {
		font-size:15px;
	}
	.sub_card {
		padding-top: 30px;
		padding-bottom: 6px;
	}
		
}