<div class="container">
	<app-shop-header></app-shop-header>
	<div class="dropdown text-right">
		<a data-toggle="dropdown"> <i class="far fa-user u_icon"></i></a>
			<div class="dropdown-menu">
				<a class="dropdown-item id_txt" href="#">Analytics</a>
				<a class="dropdown-item id_txt" href="#">LogOut</a>
			</div>
	</div>
	<div class="sub_card">
		<div class="row">
			<div class="col-lg-3 col-6">
				<div class="card1">
					<h4 class="card_heading">Orders<br><br>0</h4>
				</div>
			</div>
			<div class="col-lg-3 col-6">
				<div class="card1">
					<h4 class="card_heading">Revenue<br><br>0</h4>
				</div>
			</div>
			<div class="col-lg-3 col-6 mt-4 mt-lg-0">
				<div class="card1">
					<h4 class="card_heading">Orders<br><br>0</h4>
				</div>
			</div>
			<div class="col-lg-3 col-6 mt-4 mt-lg-0">
				<div class="card1">
					<h4 class="card_heading">Revenue<br><br>0</h4>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-12 text-center mt-1 mt-lg-2">
				<a href="#" class="btn sign_btn btns"> Catalogue</a>
			</div>
			<div class="col-lg-4 col-12 text-center mt-1 mt-lg-2">
				<a href="#" class="btn sign_btn btns align-items-center"> + Add Products</a>
			</div>
			<div class="col-lg-4 col-12 text-center mt-1 mt-lg-2">
				<a href="#" class="btn sign_btn btns"> Account</a>
			</div>
		
		
		</div>
	</div>
</div>